<div class="container">
    <div class="row" style="margin-right:0!important;margin-left:0!important">
        <div class="col-md-12 aboutus">

            <div class="row">
                <div class="col-md-5 fadeInLeft animated" style="background-image: url(../img/vechungtoi.jpg);background-size: cover;height:150px">
                </div>
                <div class="col-md-7 fadeInRight animated des" style="border-left:solid 10px #fff">
                    <p style="border-left:solid 2px #fff;margin:15px;padding:10px">Chúng tôi hoạt động theo tôn chỉ thực hiện hoàn chỉnh mọi cam kết với khách hàng. Với đội ngũ lãnh đạo và kĩ sư trình độ chuyên môn cao và giàu kinh nghiệm, trang thiết bị và máy móc kĩ thuật hiện đại, chúng tôi sẽ đáp ứng ngoài mong đợi của bạn.</p>
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div id="tagXD" class="col-md-3 block">
                    <img style="max-width:80px" src="../img/ico_xaydung.png" />
                    <p class="title">XÂY DỰNG</p>
                    <p class="content">
                        Nhà ở Dân Dụng: Nhà phố, biệt thự, căn hộ cao cấp,…
                        Văn phòng, nhà xưởng, nhà hàng, khách sạn,…
                        Hạng mục thi công: Xây dựng căn bản, cải tạo công
                        trình, trang trí lắp đặt trang thiết bị nội thất.
                    </p>
                </div>
                <div id="tagTK" class="col-md-3 block">
                    <img style="max-width: 80px " src="../img/ico_thietke.png" />
                    <p class="title">THIẾT KẾ</p>
                    <p class="content">
                        Thiết kế Kiến trúc: Thiết kế Kỹ thuật, thiết kế kết cấu, thiết
                        kế điện nước (M&E), thiết kế nội thất, thiết kế nhà ở dân
                        dụng, nhà phố, biệt thự, căn hộ cao cấp,…
                        Công cộng: Văn phòng, nhà xưởng, nhà hàng, khách sạn,…
                    </p>
                </div>
                <div id="tagKT" class="col-md-3 block">
                    <img style="max-width:80px" src="../img/ico_kientruc.png" />
                    <p class="title">KIẾN TRÚC</p>
                    <p class="content">
                        Công trình đẹp là tác phẩm kiến trúc hoàn hảo gắn
                        liền trí tuệ, tâm huyết của kiến trúc sư dành cho công
                        trình. Những kiến trúc sư tài năng, trí tuệ, nhiều kinh
                        nghiệm, mọi công trình, ngôi nhà là tác phẩm kiệt tác
                        đầy sáng tạo.
                    </p>
                </div>
                <div id="tagME" class="col-md-3 block">
                    <img style="max-width:80px" src="../img/ico_nhaxuong.png" />
                    <p class="title">NHÀ XƯỞNG M&E</p>
                    <p class="content">
                        Bên cạnh xây dựng thô, xây dựng hoàn thiện, nội thất
                        thì M&E là phần quan trọng và thiết yếu.
                        Hệ thống điện & điện nhẹ các công trình cao ốc văn
                        phòng, trường học, bệnh viện, chung cư, biệt thự, nhà
                        máy, nhà xưởng,,..
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 fadeInRight animated">
                    <div class="gearBlock">
                        <p class="gear_rotate_title"><span>UY TÍN</span></p>
                        <p>Chúng tôi hoạt động theo tôn chỉ thực hiện hoàn chỉnh mọi cam kết với khách hàng.</p>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-4 fadeInLeft animated">
                    <div class="gearBlock">
                        <p class="gear_rotate_title"><span>HIỆU QUẢ</span></p>
                        <p>Áp dụng giải pháp kỹ thuật, công nghệ xây dựng mới mang lại hiệu quả, rút ngắn thời gian thi công, sớm đưa vào khai thác sử dụng và đảm bảo chất lượng.</p>
                    </div>
                </div>
                <div id="tagGearRotate" class="col-md-4">
                    <img class="img-fluid" src="../img/GearRotate.gif" />
                </div>
                <div class="col-md-4 fadeInRight animated">
                    <div class="gearBlock">
                        <p class="gear_rotate_title"><span>TRÁCH NHIỆM</span></p>
                        <p>Tâm huyết, không ngừng hoàn thiện kiến thức, cập nhật ứng dụng, hoạch định tiến độ khoa học, mang đến cho Khách Hàng sản phẩm xây dựng chất lượng.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 fadeInRight animated">
                    <div class="gearBlock">
                        <p class="gear_rotate_title"><span>CHẤT LƯỢNG</span></p>
                        <p>Để đảm bảo chất lượng công trình, chúng tôi áp dụng các bước kiểm tra giám sát từ giai đoạn đầu cho đến kết thúc.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>