@{
    Layout = "_LayoutBlank";
    ViewData["Title"] = "Không có quyền truy cập trang";
}
<div id="main-content" class="w-100 float-left bg-grey ">
    <div class="box-account bg-white">
        <div class="d-flex justify-content-center align-items-center" id="main">
            <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center" style="color:#61BE5A">401</h1>
            <div class="inline-block align-middle">
                <h2 class="font-weight-normal lead" id="desc">Tài khoản không có quyền truy cập địa chỉ này.</h2>
                <a asp-controller="home" asp-action="index" class="color-green">Quay lại trang chủ</a>
            </div>
        </div>
    </div>
</div>

