<div class="container">
    <div class="row" >
        <div class="col-md-3">
            <img class="img-fluid" src="../img/mr1.jpg" />
        </div>
        <div class="col-md-3">
            <img class="img-fluid" src="../img/mr2.jpg" />
        </div>
        <div class="col-md-3">
            <img class="img-fluid" src="../img/mr3.jpg" />
        </div>
        <div class="col-md-3">
            <img class="img-fluid" src="../img/mr4.jpg" />
        </div>
    </div>
    <div class="row" style="margin-top:15px">
        <div class="col-md-3">
            <img class="img-fluid" src="../img/mr5.jpg" />
        </div>
        <div class="col-md-3">
            <img class="img-fluid" src="../img/mr6.jpg" />
        </div>
        <div class="col-md-3">
            <img class="img-fluid" src="../img/mr7.jpg" />
        </div>
        <div class="col-md-3">
            <img class="img-fluid" src="../img/mr8.jpg" />
        </div>
    </div>
    <div class="row" style="margin-top:15px">
        <div class="col-md-3">
            <img class="img-fluid" src="../img/mr9.jpg" />
        </div>
        <div class="col-md-3">
            <img class="img-fluid" src="../img/mr10.jpg" />
        </div>
        <div class="col-md-3">
            <img class="img-fluid" src="../img/mr11.jpg" />
        </div>
        <div class="col-md-3">
            <img class="img-fluid" src="../img/mr12.jpg" />
        </div>
    </div>
    <div class="row" style="margin-top:15px">
        <div class="col-md-3">
            <img class="img-fluid" src="../img/mr13.jpg" />
        </div>
        <div class="col-md-3">
            <img class="img-fluid" src="../img/mr14.jpg" />
        </div>
        <div class="col-md-3">
            <img class="img-fluid" src="../img/mr15.jpg" />
        </div>
    </div>
</div>