/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    margin-right: 35px;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    overflow-x: hidden;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .35rem rgba(0, 0, 0, .15);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.gallery .item {
    height: 350px !important;
}

    .gallery .item img {
        width: 100% !important;
    }

.gallery .controls {
    height: 70px !important;
}

.navbar {
    padding: .2rem 1rem !important;
}

li.nav-item {
    margin: 0 20px;
    text-transform: uppercase;
    font-weight: 600;
}

li.nav-item a:hover {
    color: cornflowerblue !important;
}

.gallery {
    margin-top: 92px;
}

main {
    margin-top: 25px;
}

footer {
    background: url('../img/footer_bg.jpg');
    background-size: 100% 100%;
    /*height: 300px;*/
    color: #fff;
    background-repeat: repeat;
    padding-bottom: 10px;
}

    footer .footerlogo {
        width: 100%;
        padding: 25px 5px;
    }

.checkbox {
    position: relative;
    top: 2px;
    left: 4px;
    display: inline;
}

.pagetitle {
    /*margin-top:15px;*/
    font-size: 2em;
    font-weight: 600;
    text-align: center!important;
}

.pagedes {
    text-align: center!important;
    position: relative;
    top: -10px;
    margin-bottom: 40px;
}

.pageline {
    border-top: solid 4px #2596be;
    width: 40px;
    text-align: center;
    position: relative;
    top: -15px;
}

.postdetail hr {
    width: 15%;
    border-bottom: solid 3px #79b526;
    clear: both;
    text-align: left;
    float: left;
    margin: 6px 0;
}
.postdetail>img {
    width: 100%!important;
    height: auto!important;
}
.postdetail .text {
    position: relative;
    top: -5%;
    width: 80%;
    left: 10%;
    background-color: #fff;
    padding: 15px;
    float: left;
}

    .postdetail .text .btn {
        color: #A9a9a2;
        border: solid 1px #a9a9a2;
        float: left;
        border-radius: 0;
        clear: both;
    }

        .postdetail .text .btn:hover {
            color: #fff;
            background-color: #2596be;
            border: solid 1px #2596be;
        }

    .postdetail .text p {
        clear: both;
        float: left;
    }

    .postdetail .text .title {
        color: #2596be;
        border: none;
        text-decoration: none;
        font-weight: 500;
        float: left;
    }

.posttitle {
    font-weight: 500;
    font-size: 1.5em;
}

.postline {
    border-top: solid 4px #2596be;
    text-align: left;
    margin: 0;
    width: 10%;
    position: relative;
    top: -10px;
}

.sidebartitle {
    text-transform: uppercase;
    font-weight: 400;
    border-left: solid 4px #2596be;
    padding-left: 10px;
    margin: 0;
    /*margin-top: 50px;*/
}

.sidebarcontent {
    border-left: solid 1px #ccc;
    padding-left: 10px;
    margin-bottom: 50px;
    padding-top: 10px;
}

    .sidebarcontent .item {
        margin-bottom: 15px;
    }

        .sidebarcontent .item a {
            text-decoration: none;
        }

        .sidebarcontent .item div {
            background-color: #eee;
            padding: 8px 8px;
            color: #000;
        }
.sidebarcontent>.item>a>img {
            height: 183px!important;
    width: 244px!important;
        }

.sidebarNav {
    padding: 0;
    margin-top: 15px;
    border: solid 1px #ccc;
}

    .sidebarNav li {
        list-style-type: none;
        padding: 5px 10px;
        border-bottom: solid 1px #ccc;
    }

.tuyendung .title {
    color: #2596be;
    font-weight: 500;
    text-transform: uppercase;
}

.tuyendung .btn {
    color: #2596be;
    border: solid 1px #2596be;
    border-radius: 0;
    font-weight: 400;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: .9em;
}

.tuyendung hr {
    border-top: solid 1px #eee;
    width: 100%;
    clear: both;
    margin: 0;
    margin-bottom: 10px;
    margin-left: 12px;
}

.footer-col {
    padding-top: 40px;
}

.footer-col hr {
    border-top: solid 1px #fff;
    width: 35%;
    float: left;
    clear: both;
    margin: 7px 0;
    padding: 0;
}

.footer-col .title {
    font-weight: 600;
    float: left;
    margin-bottom: 0 !important;
}

.footer-col .content {
    clear: both;
    float: left;
}

footer .bigline {
    border-top: solid 5px;
    margin-left: -15px !important;
    margin-top: 40px !important;
    margin-bottom: 15px !important;
}

footer .ico a {
    float: right;
    margin-right: 10px;
}

    footer .ico a img {
        max-width: 40px;
    }

.homepage .btnMore {
    color: #000;
    text-decoration: none;
    border: solid 1px #ccc;
    padding: 5px 15px;
    position: relative;
    background-color: #fff;
}

.homepage .hrMore {
    border-width: 1px;
    padding: 0;
    margin-top: 25px;
    border-top: solid 1px #eee !important;
    width: 100% !important;
    position: relative;
    top: 30px;
}

.homepage hr {
    border-top: solid 6px #2596be !important;
    width: 120px !important;
    margin-top: -10px !important;
}

.homepage .des {
    text-align: center;
}

.homepage .title {
    text-align: center;
    font-weight: 700;
    font-size: 2.5em;
    text-transform: uppercase;
}
.homepage .title a {
    text-decoration:none;
    color:#000;
}
.homepage .title img {
    max-width: 25px;
    position: relative;
    top: -2px;
}

.homepage .block {
    text-align: center;
}

    .homepage .block .content {
        margin: 5px 0;
        font-size: .8em;
        text-align: justify;
    }
    .homepage .block a {
        text-decoration: none !important;
    }
    .homepage .block .title {
        font-size: 1em;
        margin: 5px 0;
        color:#000;
    }

.homepage .partner {
    padding: 0;
}

.homepage .partner a {
    border: solid 2px #eee;
    display: block;
    float: left;
    margin-right: 13px;
    margin-top: 16px;
}

.homepage .partner img {
    padding: 5px 17px;
    max-width: 94px;
}
.homepage .partner img:hover {
    -webkit-box-shadow: -1px 0px 16px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 16px -4px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 16px -4px rgba(0,0,0,0.75);
}

.pic1 {
    background-image: url('../img/pic1.jpg');
    background-size: cover;
}

.imghome1 {
    max-height: 400px;
}

.imghome2 {
    max-height: 400px;
}

.imghome3 {
    max-height: 390px;
}

.lienhebg {
    background-image: url('../img/lienhebg.png');
    background-size: cover;
    padding-top: 45px;
    border-bottom: solid 5px #fff;
}

    .lienhebg input {
        background-color: transparent;
        border: solid 1px #fff;
        color: #fff;
        margin: 10px 0;
        width: 97%;
        margin-bottom: 35px;
        padding: 5.4px;
    }

    .lienhebg textarea {
        background-color: transparent;
        border: solid 1px #fff;
        color: #fff;
        margin: 10px 0;
        min-height: 200px;
        width: 100%;
        padding: 5px;
    }

    .lienhebg button {
        float: right;
        background-color: transparent;
        border: solid 1px #fff;
        color: #fff;
        padding: 5px;
    }

    .lienhebg ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #fff;
        opacity: 1; /* Firefox */
    }

    .lienhebg :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #fff;
    }

    .lienhebg ::-ms-input-placeholder { /* Microsoft Edge */
        color: #fff;
    }

.hotline {
    background-color: #fff;
    color: #34a4eb;
    font-weight: bold;
    border-radius: 30px;
    padding: 2px;
    padding-right: 8px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    border: solid 1px #34a4eb;
}

.hotline img {
    max-width: 35px;
}
.hotline span {
    position: relative;
    top: 2px;
}

.tintuchome {
    margin-top: 15px;
    margin-bottom: 25px;
}

.tintuchome .item {
    background-color: #7fc7f5;
    color: #084973;
}

.tintuchome .item img {
    min-height: 105px;
}

.tintuchome .item .img {
    padding: 0;
}

.tintuchome .item .text {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.tintuchome .middle {
    margin-top: 15px;
    margin-bottom: 15px;
}

.bignews .title {
    font-weight: 500;
    text-align: left;
    font-size: 1.5em;
}

.bignews hr {
    float: left;
    clear: both;
}

.bignews .des {
    text-align: left;
    clear: both;
}

.wrap_partner {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.ui-autocomplete {
    position: absolute;
    cursor: default;
    z-index: 9999 !important
}

#search {
    position: relative;
    top: 5px;
    border: solid 1px #ccc;
    border-radius: 10px;
    padding: 2px 10px;
}

.carousel-item h5 {
    color: #1b6ec2;
    font-size: 2.5em;
}

.carousel-item p {
    color: #000;
    font-size: 1.5em;
}

.carousel-caption {
    text-align: right;
    width: 350px;
    top: 75px !important;
}

.gear_rotate_title {
    background-color: #f19578;
}
.aboutus .des {
    background-color: #6cabde;
    
    border-left: solid 10px #ffffff;
}
.aboutus .block {
    text-align:center;
}
.aboutus .block .content {
    text-align: justify;
}
.aboutus .block .title {
    text-align: center!important;
    font-weight: 500!important;
    margin: 5px!important;
}

.gearBlock {
    max-width:250px;
    margin:0 auto!important;
    padding-top:25px;
}

.gear_rotate_title span {
    background-color: #e23c1f;
    padding: 3px 10px;
    color: #fff;
}
/*.newsDetail img {
    max-width:750px!important;
}*/
.newsDetail>p>img {
	width:100%;
	height:100%;
}
.newsDetail>p>a>img {
	width:100%;
	height:100%;
}
.newsDetail p {
    /*text-align:justify!important;*/
    text-align: justify;
}
.carousel-indicators li {
    border: none !important;
    padding: 5px;
    border-radius: 40px;
    width: 3px;
    height: 3px;
}
.carousel-indicators li.active {
    background-color: #2596be!important;
}
.slick-slide img:hover {
    -webkit-box-shadow: -1px 0px 16px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 16px -4px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 16px -4px rgba(0,0,0,0.75);
}
#frmYoutube {
    height: 550px;
}
@media all and (min-width: 992px) {
    .perfect-1 {
        display:block;
    }
    .perfect-2 {
        display: none;
    }
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }

    .bignews {
        margin-left: -15px;
    }

    .wrap_partner {
        margin-left: -15px !important;
        margin-right: -15px !important;
    }
}

@media (max-width: 480px) {
    .footerlogo {
        display: none;
    }
    #frmYoutube {
        height: 250px;
    }
    .tintuchome .item img {
        height: auto!important;
    }
    .tintuchome .item .text {
        padding:10px;
    }
    
    #search {
        margin-bottom:15px;
    }
    .aboutus .des {
        border-left: none;
    }
    .perfect-1 {
        display: none;
    }

    .perfect-2 {
        display: block;
    }
    .tintuchome .item {
        padding:0;
        margin:0;
        margin-top:10px;
        width:95%;
    }
}
